@import "tailwindcss";


/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 4px; 
  height: 6px;  
}

::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

/* Optional: Hover effect for thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* For Firefox */
* {
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: rgba(0,0,0,0.3) transparent; /* thumb and track */
}
